
.div_addflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_image{
    width: 150px;
    height: 150px;
}

.card{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 8px;
    border: 1px solid gray;
}